################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/API/.vs/API
/src/API/bin/Debug/net8.0
/src/API/obj
